.diff {
    border: none;

    .diff_app_title {
        text-align: center;
    }
    .diff_good {
        background-color: #eaffea;
    }
    .diff_bad {
        background-color: #ffecec;
    }
    .diff_missing {
        background-color: #E3F7FF;
        color: darkgrey;
        font-style: italic;
    }

    input {
        background: none;
        border:none;

        .ng-invalid {

        }
    }

    td:not(.editable_app) {
        color: darkgrey;
    }
}
